<!DOCTYPE html>
<!------------------------------------------------------------------------
_/                _/  _/_/_/    _/_/_/    _/_/_/    _/_/_/    _/      _/  
_/              _/   _/    _/  _/    _/  _/    _/  _/    _/    _/  _/     
_/    _/_/    _/    _/_/_/    _/_/_/    _/    _/  _/_/_/        _/      
_/  _/  _/  _/     _/        _/    _/  _/    _/  _/  _/        _/       
_/_/    _/_/      _/        _/_/_/    _/_/_/    _/    _/      _/  made it!
------------------------------------------------------------------------->

<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Phiture Coding Challenge - William Dry</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script>
        const profilePhotoUrl = "{{ url_for('static', filename='img/profile-icon.png') }}";
    </script>
</head>
<body>
    <h1>
        Phiture Coding Challenge
    </h1>
    <h2>
        William Dry
    </h2>
    <div id="tab-bar">
        <a href="javascript:switchTab('tab1', 'search-app');" id="tab1" class="tab-menu active">
            Search Players
        </a>
        |
        <a href="javascript:switchTab('tab2', 'team-app');" id="tab2" class="tab-menu">
            Team Builder
        </a>
        |
        <a href="javascript:switchTab('tab3', 'documentation');" id="tab3" class="tab-menu">
            Documentation
        </a>
    </div>
    <div id="search-app" class="tab-content">
        <p>
            Search for football players by name, club, or nationality:
        </p>
        <form id="search-form">
            <input id="search-input">
            <button type="submit">
                Search
            </button>
        </form>
        <div id="results-div"></div>
    </div>
    <div id="team-app" class="tab-content" style="display: none">
        <p>
            How much are you willing to invest in your football team?
        </p>
        <p>
            We will calculate the best possible FIFA team you can buy with your budget.
        </p>
        <form id="builder-form">
            €
            <input id="builder-input">
            ,00
            <button type="submit">
                Calculate!
            </button>
        </form>
        <div id="team-result-div"></div>
    </div>
    <div id="documentation" class="tab-content" style="display: none">
        <h1>
            Documentation
        </h1>
        <h2>
            Usage
        </h2>
        <h3>
            Search input
        </h3>
        <p>
            Input any UTF-8 search term.
        </p>
        <h3>
            Search output
        </h3>
        <p>
            All searches are performed on the attributes name, club, and nationality of all players.
            In every case a table of "exact matches" is displayed
            and in some cases an additional table of "close matches" is displayed.
            Attributes displayed are photo, name, age, nationality, club, overall score, and value.
        </p>
        <p>
            If you entered <b>one</b> word as a search term, "exact matches" includes
            all players where your search term was found as a whole word.
            "Close matches" includes any additional players where your search term was found as part of a word.
        </p>
        <p>
            If you entered <b>two</b> words as a search term, "exact matches" includes
            all players where both words were found in the same player.
            "Close matches" includes any additional players where only one
            of the two words was found. If you entered only partial words
            you will not receive any results.
        </p>
        <p>
            If you entered <b>three or more</b> words as a search term,
            "exact matches" includes all results where any of the three words was found.
            No "close matches" are shown.
        </p>
        <h3>
            Team builder input
        </h3>
        <p>
            Input any value in euros as a whole number.
        </p>
        <h3>
            Team builder output
        </h3>
        <p>
            A table of 11 players will be displayed,
            making up the best possible team you could theoretically buy
            with the amount of money you entered.
            Attributes displayed are photo, position, name, age, nationality, score,
            value, preferred foot, and height.
        </p>
        <p>
            Players are rated according to their score for their preferred position.
            A more expensive player is only preferred if it can replace a player
            with a lower rating in the same position in the team.
        </p>
        <p>
            If your budget is too low to buy any complete team, this will be indicated
            and no team will be displayed.
        </p>
        <h2>
            Implementation
        </h2>
        <h3>
            General
        </h3>
        <p>
            This web app consists of a frontend, written in plain HTML/JS/CSS,
            and a backend written in Python.
            The two parts are completely seperate from each other and communicate
            through POST requests to predefined RESTful API endpoints.
        </p>
        <h3>
            API
        </h3>
        <p>
            I decided to build a RESTful API, rather than using something more powerful like GraphQL,
            because the API needs of this project are extremely simple.
            There are only two API requests that are ever made (search, and build team)
            and the parameters passed and returned are always the same,
            making it pointless to use a query type API framework.
        </p>
        <p>
            In the backend I am using the web framework, Flask, along with the flask_restful module
            to host the API. Since the web hosting responsibilities of the backend are very limited
            (only providing data), a minimal framework like Flask is suitable. I probably could
            have used something even simpler than Flask, but Flask has a reasonable number of features,
            should you unexpectedly need something, so it's not a bad option. In the past I have created REST APIs
            with vanilla Flask, but after a quick Google search I found flask_restful, which seemed
            simple to use and suited my needs well.
        </p>
        <h3>
            Data management
        </h3>
        <p>
            I am using a PostgreSQL database to store and query the dataset. I decided to use a relational database
            because I decided from the beginning that I would perform all searches directly in SQL.
            To be honest, I also have no experience with non relational databases and I don't know how
            easy or fast it is to search through them. I chose PostgreSQL because
            it is powerful and an open source project, which I support.
        </p>
        <p>
            I interact with the database
            from Python using the psycopg2 module. This is minimalistic and gets the job done.
            However, in retrospect, I think it may have made my life easier if I had used an
            object-relational mapper like SQLAlchemy. I did not forsee the amount of data processing
            that I would be doing in the backend.
        </p>
        <h3>
            Implementation of algorithms
        </h3>
        <p>
            The search algorithm is relatively limited, but more advanced than
            only searching for exact matches. Currently it only supports up to two words
            because I couldn't find a way to automatically generate SQL queries
            depending on the number of words, so I only manually created three options.
            Currently in every search, multiple connections are made to the database,
            to retrieve different sets of results. I would try to get rid of this in the future
            because it slows things down.
        </p>
        <p>
            The team builder algorithm is implemented in two steps.
            I created a Python script that I ran once at the beginning,
            which gets the position for each player and then gets their position score.
            It also converts the value of each player from type string to type integer.
            It then stores the new "position score" and the new numeric value in a separate table
            (so as not to change the original dataset). Doing this reduces data overhead
            because I later only request the position score for each player, and not the score for every position.
        </p>
        <p>
            The second step is the algorithm that runs every time the API is called.
            This script gets all players ordered by value ascending, and then iterates through the list
            checking the score of each player in the list against the score of the existing player in that position.
            If the new score is higher, and the new player can be afforded within the budget,
            the algorithm switches the players out.
        </p>
        <p>
            I decided to do all searches in SQL becuase I believe that databases can process
            data as fast, if not faster, than a Python script on any server. Searching in the database
            also then returns less data which reduces overhead. This is also the safer way, since
            if the dataset were very large, or
            if the server had very little RAM, you also wouldn't be able to store all the data in memory.
            However, in this algorithm I also make multiple connections to the database, which should be fixed.
        </p>
        <h3>
            Hosting
        </h3>
        <p>
            I am hosting the backend on Amazon Web Services (AWS), because I recently got some experience using AWS
            and I know how it works.
            The needs of this project are not that great and are perfectly possible within the free tier of AWS.
        </p>
        <p>
            I wanted to host the frontend completely seperately on GitHub pages, but I was unable to serve the
            backend over HTTPS and it's not possible to serve from GitHub pages over HTTP. Websites served over HTTPS
            are not able to make API calls over HTTP. So now I am serving the frontend from Flask, as part of the
            same app hosted on AWS. However, none of the data is passed using Flask; this is all still done 
            through API calls. 
        </p>
        <p>
            I am hosting the database on ElephantSQL because it's free and reliable and it has limited
            features but sufficient for this project.
        </p>
        <h2>
            Scalability
        </h2>
        <p>
            If this project were to need to handle large amounts of data with live updates, and we were
            in control of the updates,
            the first thing I would do is change the structure of the data itself.
            I would separate first name / initial and last name into seperate colums
            to allow for faster SQL searching.
            I would also change the value column from string type to numeric.
            The algorithm needs to sort by value, and having numeric values, makes this easier.
            I would also include a "position score" column in the data
            which is the players's score for their preferred position.
            This is double storage of data, but it is also necessary for sorting in the team builder algorithm.
            The last two changes to the data structure, would eliminate the need for my initial "set up"
            Python script for the team builder algorithm. This is necessary since it would be impossible
            to run this script every time there is a change to the data.
        </p>
        <p>
            In terms of technologies used, I think that Python, PostgreSQL, and Flask are all able to scale very well.
            I would obviously look at different (probably paid) hosting options, to provide the right speeds that we need,
            depending on the size of the dataset, and of course a secure connection over HTTPS.
        </p>
        <p>
            In terms of the algorithms I have written
            I would make sure that I never
            make multiple database connections for the same task, since establishing a network connection
            causes a lot of latency.
            In the team building algorithm there is a lot of iterating through datasets that could become very large.
            I would research about how efficient it is to iterate through different types of data in Python
            to speed that up.
            Currently I am using a lot of dictionaries with key-value pairs,
            but it is probably faster in some cases to iterate through the database connection cursor object,
            and in other cases to use a numbered index data types like an array.
        </p>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/config.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/builder.js') }}"></script>
</body>
</html>